/* line 5, ../sass/blog/post.sass */
.post-image {
  text-align: center;
  display: block;
  width: 437px;
  height: 220px;
  margin: 0 auto;
}

/* line 11, ../sass/blog/post.sass */
.post-heading {
  width: 1048px;
  padding-top: 16px;
  padding-bottom: 14px;
  position: absolute;
  z-index: 10;
}
/* line 18, ../sass/blog/post.sass */
.post-heading img {
  margin-top: 14px;
}
/* line 21, ../sass/blog/post.sass */
.post-heading h1 {
  color: white;
  font-size: 2.75em;
  font-weight: 200;
  margin: 0;
  font-family: overlock;
  text-align: center;
  letter-spacing: -2px;
  font-weight: 800;
  font-style: italic;
  margin: auto;
  text-shadow: 0px 0px 15px rgba(0, 0, 200, 0.4);
}
/* line 35, ../sass/blog/post.sass */
.post-heading div {
  width: 500px;
  height: 200px;
  position: absolute;
  top: 168px;
  left: 175px;
}
/* line 42, ../sass/blog/post.sass */
.post-heading .left {
  float: left;
}
/* line 44, ../sass/blog/post.sass */
.post-heading .right {
  float: right;
}

/* line 47, ../sass/blog/post.sass */
#index-title {
  font-family: overlock;
  font-size: 4em;
  font-weight: 900;
  font-style: italic;
  letter-spacing: -1px;
  text-align: center;
  width: 1048px;
}

/* line 56, ../sass/blog/post.sass */
.index-post, .post {
  padding-top: 0px;
  font-family: source-sans-pro;
  width: 698px;
  display: block;
  position: relative;
  margin: auto;
  color: black;
  clear: both;
  float: left;
  margin-left: 80px;
  padding-left: 0px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
/* line 70, ../sass/blog/post.sass */
.index-post .content, .post .content {
  padding-bottom: 14px;
  padding-top: 34px;
}
/* line 77, ../sass/blog/post.sass */
.index-post blockquote, .post blockquote {
  color: grey;
}
/* line 78, ../sass/blog/post.sass */
.index-post blockquote font, .post blockquote font {
  family: overlock;
  size: 26px;
  style: italic;
}
/* line 85, ../sass/blog/post.sass */
.index-post h1, .post h1 {
  color: black;
  font-size: 44px;
  font-weight: 200;
  margin: 0;
  font-family: source-sans-pro;
}
/* line 92, ../sass/blog/post.sass */
.index-post h2, .post h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  margin-top: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  letter-spacing: 0px;
  position: relative;
  display: block;
}
/* line 105, ../sass/blog/post.sass */
.index-post hr, .post hr {
  border-top: 1px;
}
/* line 108, ../sass/blog/post.sass */
.index-post a, .post a {
  color: black;
}
/* line 110, ../sass/blog/post.sass */
.index-post p, .post p {
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "minion-pro";
  font-size: 18px;
}
/* line 117, ../sass/blog/post.sass */
.index-post img, .post img {
  margin: 0;
  padding: 20px;
  border: 1px solid gray;
  display: block;
  max-width: 468px;
}

/* line 125, ../sass/blog/post.sass */
.index-post {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-left: 40px;
  border-top: 0px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}
/* line 134, ../sass/blog/post.sass */
.index-post h1 {
  margin: 0;
  font-family: overlock;
  font-weight: 800;
  font-size: 2em;
  font-style: italic;
  letter-spacing: -1px;
}
/* line 142, ../sass/blog/post.sass */
.index-post .date {
  font-family: source-sans-pro;
  font-weight: 100;
  font-size: 17px;
  color: black;
  width: 60px;
  display: block;
  margin: 0;
  text-align: left;
}
/* line 154, ../sass/blog/post.sass */
.index-post .preview {
  padding-bottom: 40px;
}
/* line 157, ../sass/blog/post.sass */
.index-post .preview a {
  text-align: left;
  color: black;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
  font-family: source-sans-pro;
  letter-spacing: 0px;
  font-size: 16px;
  display: block;
  position: absolute;
  right: 38px;
  top: 188px;
  z-index: 20;
}
/* line 175, ../sass/blog/post.sass */
.index-post .preview a:hover {
  text-decoration: underline;
}
/* line 180, ../sass/blog/post.sass */
.index-post img {
  width: 150px;
  display: block;
  opacity: 1;
  width: 150px;
  z-index: 10;
}
/* line 187, ../sass/blog/post.sass */
.index-post #image-background {
  z-index: 11;
  height: 150px;
  width: 150px;
  position: absolute;
  border-radius: 75px;
}
/* line 196, ../sass/blog/post.sass */
.index-post #image-background:hover, .index-post a.preview:hover {
  box-shadow: inset 0px 0px 0px black;
}
/* line 199, ../sass/blog/post.sass */
.index-post img, .index-post #image-background {
  position: absolute;
  right: 0px;
  top: 22px;
  display: block;
}

/* line 207, ../sass/blog/post.sass */
.navigation {
  padding-top: 0px;
  padding-bottom: 30px;
  width: 1048px;
  height: 60px;
  margin: auto;
  background: white;
  clear: both;
  position: relative;
}
/* line 216, ../sass/blog/post.sass */
.navigation .left {
  margin-left: 80px;
}
/* line 218, ../sass/blog/post.sass */
.navigation .right {
  margin-right: 80px;
}
/* line 221, ../sass/blog/post.sass */
.navigation .post-navigation {
  width: 414px;
  height: 30px;
  text-align: center;
  color: black;
  line-height: 30px;
  cursor: pointer;
  text-decoration: none;
  font-family: source-sans-pro;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2em;
  opacity: 0.6;
}
/* line 236, ../sass/blog/post.sass */
.navigation .text-left {
  text-align: left;
}
/* line 238, ../sass/blog/post.sass */
.navigation .text-right {
  text-align: right;
}
/* line 241, ../sass/blog/post.sass */
.navigation #home {
  position: absolute;
  left: 514px;
  top: 4px;
  opacity: 0.6;
}
/* line 246, ../sass/blog/post.sass */
.navigation #home img {
  width: 20px;
}
/* line 249, ../sass/blog/post.sass */
.navigation #home:hover {
  opacity: 1;
}
/* line 253, ../sass/blog/post.sass */
.navigation .post-navigation:hover {
  opacity: 1;
}

/* line 256, ../sass/blog/post.sass */
#title-container {
  width: 648px;
  margin: auto;
}

/* line 260, ../sass/blog/post.sass */
.date {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 18px;
  color: black;
  display: block;
  margin: auto;
  font-style: italic;
  width: 76px;
}

/* line 270, ../sass/blog/post.sass */
#post-wrapper {
  width: 848px;
  margin: auto;
  background: white;
}

/* line 275, ../sass/blog/post.sass */
#dhaakon-blog-container {
  width: 1048px;
  position: relative;
  margin: auto;
  display: block;
  min-height: 100%;
  background: white;
}

/* line 284, ../sass/blog/post.sass */
footer {
  width: 100%;
  height: 40px;
  display: block;
  position: relative;
  bottom: 0px;
  left: 10px;
  font-size: 12px;
  color: #787878;
  font-family: source-sans-pro;
  clear: both;
}

/* line 296, ../sass/blog/post.sass */
.scaled-container, #wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: block;
  background: white;
}

/* line 304, ../sass/blog/post.sass */
#left-image-container, #right-image-container {
  width: 200px;
  height: 100px;
  display: block;
}

/* line 308, ../sass/blog/post.sass */
#right-image-container {
  float: right;
}

/* line 310, ../sass/blog/post.sass */
#left-image-container {
  float: left;
}

/* line 315, ../sass/blog/post.sass */
.go-button {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid lightgrey;
  position: absolute;
  right: 50px;
  top: 80px;
}
/* line 327, ../sass/blog/post.sass */
.go-button p {
  position: absolute;
  top: -58px;
  left: 20px;
  font-size: 50px;
  color: lightgrey;
}

/* line 4, ../sass/blog/social.sass */
.social {
  position: relative;
  width: 1048px;
  background: white;
  display: block;
  clear: both;
  height: 80px;
}
/* line 14, ../sass/blog/social.sass */
.social .links {
  padding-right: 270px;
  padding-top: 22px;
}
/* line 18, ../sass/blog/social.sass */
.social img {
  display: inline-block;
  width: 16px;
  opacity: 0.6;
  float: right;
  padding-right: 18px;
}
/* line 26, ../sass/blog/social.sass */
.social img:hover {
  opacity: 1;
}

/* line 2, ../sass/blog/sidebar.sass */
.sidebar-container img {
  width: 180px;
  height: 180px;
  display: block;
  padding: 20px;
  margin: 30px auto;
  border: 1px solid #eeeeee;
}
/* line 10, ../sass/blog/sidebar.sass */
.sidebar-container h1 {
  text-align: right;
  margin-right: 80px;
  font-family: source-sans-pro;
  font-weight: 600;
  font-size: 1em;
  text-decoration: underline;
}

/* line 19, ../sass/blog/sidebar.sass */
#sidebar {
  width: 200px;
  display: block;
  background: white;
  padding-top: 132px;
}
/* line 25, ../sass/blog/sidebar.sass */
#sidebar a {
  font-family: source-sans-pro;
  text-decoration: none;
  text-align: right;
  position: relative;
  width: 100%;
  text-align: right;
  right: 80px;
  display: block;
  font-size: 0.9em;
  color: black;
  height: 28px;
}
/* line 38, ../sass/blog/sidebar.sass */
#sidebar a:hover {
  text-decoration: underline;
}

/* line 38, ../sass/style.sass */
html {
  background-size: cover;
  background: black;
}

/* line 42, ../sass/style.sass */
html, body {
  margin: 0;
  height: 100%;
}

/* line 46, ../sass/style.sass */
h1, h2, h3, h4 {
  margin: 0;
}

/* line 50, ../sass/style.sass */
#blog-heading {
  margin: auto;
  height: 60px;
  display: block;
  width: 1048px;
  text-align: center;
  color: black;
  background: white;
  position: relative;
}
/* line 64, ../sass/style.sass */
#blog-heading h1 {
  padding-top: 8px;
  color: black;
  padding-left: 0px;
  letter-spacing: -2px;
  font-family: overlock;
  font-style: italic;
  font-size: 2.3em;
  font-weight: 800;
  position: absolute;
  display: block;
}
/* line 78, ../sass/style.sass */
#blog-heading .left {
  left: 40px;
}
/* line 81, ../sass/style.sass */
#blog-heading .right {
  right: 0px;
}
/* line 83, ../sass/style.sass */
#blog-heading a {
  text-decoration: none;
}
/* line 86, ../sass/style.sass */
#blog-heading #portfolio-links {
  padding-top: 14px;
  padding-right: 40px;
  font-family: source-sans-pro;
}
/* line 89, ../sass/style.sass */
#blog-heading #portfolio-links a {
  color: black;
  padding-left: 30px;
}
/* line 93, ../sass/style.sass */
#blog-heading #portfolio-links a:hover {
  text-decoration: underline;
}

/* line 99, ../sass/style.sass */
.container {
  -webkit-transition: 400ms, opacity;
  -moz-transition: 400ms, opacity;
  -ms-transition: 400ms, opacity;
  -o-transition: 400ms, opacity;
  opacity: 0;
  width: 1048px;
  display: block;
  margin: 0px auto 0 auto;
  background: white;
  float: left;
}

/* line 108, ../sass/style.sass */
.left {
  float: left;
}

/* line 110, ../sass/style.sass */
.right {
  float: right;
}

/* line 114, ../sass/style.sass */
footer {
  position: relative;
  bottom: 0px;
  height: 40px;
  display: block;
  width: 100%;
}
/* line 121, ../sass/style.sass */
footer p {
  color: grey;
  float: left;
  text-indent: 20px;
  font-family: source-sans-pro;
  font-size: 12px;
}

/* line 128, ../sass/style.sass */
.tags {
  padding-top: 0px;
}
/* line 131, ../sass/style.sass */
.tags a {
  padding-left: 20px;
  font-size: 11px;
  font-weight: bold;
}
/* line 136, ../sass/style.sass */
.tags a:first-child {
  padding-left: 0px;
}

/* line 140, ../sass/style.sass */
#disqus_thread {
  background: white;
  width: 85%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: source-sans-pro;
}
