html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #af1e1e;
  background: -moz-radial-gradient(center, ellipse cover, #af1e1e 0%, #0e0e0e 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #af1e1e), color-stop(100%, black));
  background: -webkit-radial-gradient(center, ellipse cover, #af1e1e 30%, black 100%);
  background: -o-radial-gradient(center, ellipse cover, #af1e1e 0%, #0e0e0e 100%);
  background: -ms-radial-gradient(center, ellipse cover, #af1e1e 0%, #0e0e0e 100%);
  background: radial-gradient(ellipse at center, #af1e1e 0%, #0e0e0e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(175,30,30,1.0)', endColorstr='#0e0e0e',GradientType=1 ); }

body {
  margin: 0;
  height: 1080px; }

h1 {
  margin: 0; }

.date {
  font-family: source-sans-pro;
  font-weight: 100;
  font-size: 14px;
  color: grey; }

.container {
  width: 768px;
  display: block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin: 40px auto 0 auto;
  background: white;
  box-shadow: 0px 0px 150px 10px rgba(0, 0, 0, 0.2); }

#blog-heading {
  box-shadow: 0px 2px 0px 0px rgba(255, 0, 0, 0.65), 0px 4px 0px 0px rgba(0, 255, 0, 0.65), 0px 6px 0px 0px rgba(0, 0, 255, 0.65);
  margin: 0;
  height: 60px;
  display: block;
  background: rgba(0, 0, 0, 0.4); }
  #blog-heading h1 {
    padding-top: 8px;
    color: #dddddd;
    padding-left: 12px;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 30px red;
    font-family: overlock;
    font-style: italic;
    font-size: 2.3em;
    font-weight: 900; }
  #blog-heading a {
    text-decoration: none; }

.post {
  padding-top: 40px;
  font-family: source-sans-pro;
  width: 85%;
  display: block;
  position: relative;
  margin: auto;
  padding-bottom: 50px; }
  .post .content {
    padding-bottom: 14px; }
  .post blockquote {
    font-family: overlock;
    font-size: 26px;
    font-style: italic;
    color: grey; }
  .post h1 {
    color: black;
    font-size: 44px;
    font-weight: 200;
    margin: 0;
    font-family: source-sans-pro; }
  .post h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased; }
  .post hr {
    border-top: 1px; }
  .post a {
    color: black; }
  .post p {
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased; }

footer {
  position: absolute;
  bottom: 0px;
  height: 40px;
  display: block;
  width: 100%; }
  footer p {
    color: grey;
    float: left;
    text-indent: 20px;
    font-family: source-sans-pro;
    font-size: 12px; }

.tags {
  padding-top: 20px; }

#disqus_thread {
  background: white;
  width: 85%;
  position: relative;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: source-sans-pro; }
