doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.9.0.js")
    script(src='/javascripts/BlogJS.js')
    script(src='//use.edgefonts.net/source-sans-pro;overlock:n4,i4,n7,i7,n9,i9.js')
  body
    div#blog-heading
      a(href='mailto:david.poyner@dhaakon.com')
        h1 dhaakon
    block content
    block disqus
  footer
    p david poyner &nbsp; &nbsp; || &nbsp; &nbsp; blog
