doctype 5
html
  head
    title= 'dhaakon | ' + post.title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//use.edgefonts.net/source-sans-pro;overlock:n4,i4,n7,i7,n9,i9.js')
  body
    div#blog-heading
      a(href='mailto:david.poyner@dhaakon.com')
        h1 dhaakon
    block content
  footer
    p david poyner &nbsp; &nbsp; || &nbsp; &nbsp; blog
