extends blogpost
block content
  div.post-heading
    div
      h1 #{post.title}
      span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
  div.post-image(style="background:url('." + post.image + "')")
  div.container
      div.post
        div.content
          != post.content

block navigation
  include blog_navigation
  include disqus

