block social
  .social
    .links  
      a 
        img.no-padding(src='/images/social/twitter-bird.jpg', style='padding-right:0px;')
      a
        img(src='/images/social/github.jpg')
      a
        img(src='/images/social/facebook-logo.jpg')
